<div class="container">
        <div class="row center-xs">
        <header>
        <h2>LOGUEATE</h2>
      </header>
      <br>
      <section class="col-xs-12 col-sm-6 col-md-3">
<form action="">
 <input class="formulario" placeholder="usuario" type="email"><br><br>
 <input class="formulario" placeholder="password" type="password" name="" id=""><br><br>
 <a class="formularioB" href="../dashboard">ACEPTAR</a>
</form>
<footer>
        <p>&copy; Derechos reservados</p>
      </footer>
</section>
</div>
</div>
